# Crow PART
Crow/
# OpenFOAM PART
containers/
*/lnInclude/*
.clang-format
.cache/
linux64*/
compile_commands.json
interactiveUI/interactiveUI
# NodeJS PART
reflect-json-app/logs
reflect-json-app/*.log
reflect-json-app/npm-debug.log*
reflect-json-app/yarn-debug.log*
reflect-json-app/yarn-error.log*
reflect-json-app/lerna-debug.log*
reflect-json-app/.pnpm-debug.log*
reflect-json-app/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
reflect-json-app/pids
reflect-json-app/*.pid
reflect-json-app/*.seed
reflect-json-app/*.pid.lock
reflect-json-app/lib-cov
reflect-json-app/coverage
reflect-json-app/*.lcov
reflect-json-app/.nyc_output
reflect-json-app/.grunt
reflect-json-app/bower_components
reflect-json-app/.lock-wscript
reflect-json-app/build/Release
reflect-json-app/node_modules/
reflect-json-app/jspm_packages/
reflect-json-app/web_modules/
reflect-json-app/*.tsbuildinfo
reflect-json-app/.npm
reflect-json-app/.eslintcache
reflect-json-app/.stylelintcache
reflect-json-app/.rpt2_cache/
reflect-json-app/.rts2_cache_cjs/
reflect-json-app/.rts2_cache_es/
reflect-json-app/.rts2_cache_umd/
reflect-json-app/.node_repl_history
reflect-json-app/*.tgz
reflect-json-app/.yarn-integrity
reflect-json-app/.env
reflect-json-app/.env.development.local
reflect-json-app/.env.test.local
reflect-json-app/.env.production.local
reflect-json-app/.env.local
reflect-json-app/.cache
reflect-json-app/.parcel-cache
reflect-json-app/.next
reflect-json-app/out
reflect-json-app/.nuxt
reflect-json-app/dist
reflect-json-app/.cache/
reflect-json-app/.vuepress/dist
reflect-json-app/.temp
reflect-json-app/.cache
reflect-json-app/.docusaurus
reflect-json-app/.serverless/
reflect-json-app/.fusebox/
reflect-json-app/.dynamodb/
reflect-json-app/.tern-port
reflect-json-app/.vscode-test
reflect-json-app/.yarn/cache
reflect-json-app/.yarn/unplugged
reflect-json-app/.yarn/build-state.yml
reflect-json-app/.yarn/install-state.gz
reflect-json-app/.pnp.*
reflect-json-app/Node_modules
reflect-json-app/Coverage
reflect-json-app/Build
reflect-json-app/.DS_Store
reflect-json-app/.env.local
reflect-json-app/.env.development.local
reflect-json-app/.env.test.local
reflect-json-app/.env.production.local
reflect-json-app/Npm-debug.log*
reflect-json-app/Yarn-debug.log*
reflect-json-app/Yarn-error.log*
